@font-face {
  font-family: 'Giraffey.otf';
  src: 'fonts/Giraffey.otf'
}

html, body {
  margin: 0;
  height: 100%;
  overflow: hidden;
}

p {
  font-family: 'Giraffey.otf', Fallback, sans-serif;
  color: red;
}
