@font-face {
  font-family: 'Giraffey.woff';
  src: 'fonts/Giraffey.woff'
}

html, body {
  margin: 0;
  height: 100%;
  overflow: hidden;
}

p {
  font-family: 'Giraffey.woff', Fallback, sans-serif;
  color: red;
}
